/* Update class names to avoid conflicts with Bootstrap */
.organizerHomeScreen{
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.organizer-content {
    display: flex;
    justify-content: flex-end;
    margin: 60px 150px;
}

.organizer-button-container {
    display: flex;
    justify-content: flex-end; /* Aligns items to the end of the container (right side) */
}

.organizer-create-event {
    width: 200px;
    height: 50px;
}

.organizer-check {
    width: 100%;
}

.organizer-event-cards-wrapper {
    width: 100%; /* Set the width to 100% */
    overflow-x: auto; /* Allows horizontal scrolling if content overflows */
}

.organizer-upcoming-event {
    display: flex;
    overflow-x: auto;
    margin-top: 20px;
    margin-bottom: 20px; /* Ensures horizontal scrolling */
}

.organizer-join-event {
    display: flex;
    flex-wrap: wrap; /* Allow items to wrap to the next line */
    max-width: 85vw; /* Limit the width to 80% of the viewport width */
}

.organizer-card {
    flex: 0 0 auto; /* Ensure cards don't shrink */
    margin: 10px; /* Add margin to each card */
    width: 300px;
    display: flex;
    flex-direction: column; /* Arrange content vertically */
    height: 250px;
    word-wrap: break-word;
     /* Set a fixed height for the card */
}

.organizer-card-content {
    overflow: hidden; /* Hide any overflowing content */
    text-overflow: ellipsis; /* Display ellipsis for truncated text */
    flex: 1; /* Make the content area flexible */
}

.organizer-card-actions {
    margin-top: auto; /* Push the card actions to the bottom */
}

.notif {
    width: 200px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    padding: 0px 15px;
    background-color: rgb(66, 66, 66);
    border-radius: 10px;
    color: white;
    border: none;
    position: relative;
    cursor: pointer;
    transition-duration: .2s;
    margin-right: 10px;
  }
  
  .bell {
    width: 13px;
  }
  
  .bell path {
    fill: rgb(0, 206, 62);
  }
  
  .arrow {
    position: absolute;
    right: 0;
    width: 30px;
    height: 100%;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .notif:hover {
    background-color: rgb(77, 77, 77);
    transition-duration: .2s;
  }
  
  .notif:hover .arrow {
    animation: slide-right .6s ease-out both;
  }
  /* arrow animation */
  @keyframes slide-right {
    0% {
      transform: translateX(-10px);
      opacity: 0;
    }
  
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }
  
  .notif:active {
    transform: translate(1px , 1px);
    transition-duration: .2s;
  }

  .joinevents{
    width: 100%;
    display: flex;
  }

  .orgContainerEvents {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  
