.container {
    display: flex;
    height: 100vh;
}
  
.white {
    flex: 1;
    background-color: #fff;

}

.blue {
  flex: 1;
  background-color: #86a7fc;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
  
.logo {
  width: 40%;
  height: 40%;
  position: absolute;
  top: 35%;
  bottom: 65%;
  transform: translate(-5%, -40%); 
}

.tag {
  color: #fff;
  font: 'Monseratt';
  position: absolute;
  top: 60%;
  bottom: 20%;
  right: 50%;
  transform: translate(50%, 10%);
}

